.collection-item {
  transform-style: preserve-3d;
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  border-radius: 5px;
  &:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
  }

  &:hover .image img {
    transform: scale(1.2) rotate(-10deg);
  }
  &:hover .image::before {
    transform: translateY(0);
  }

  &:hover .collection-footer {
    background-color: rgba(0, 0, 0, 0.918);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 2px;
  }
  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: all 2s;

    img {
      width: 100%;
      height: 100%;
      transition: all 2s;
      object-fit: cover;
      position: relative;
    }
  }

  .image::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(-100%);
    transition: all 0.5s cubic-bezier(0.86, 0.21, 0, 0.94);
    z-index: 2;
  }

  .collection-footer {
    width: 100%;
    min-height: 2.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    z-index: 5;
    transition: all 0.5s 0.3s;
    transform: translateZ(100px);
    align-items: center;

    .name {
      width: 80%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .price {
      width: 20%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  &:hover button {
    bottom: 30%;
    transition: bottom 0.5s ease-in;
  }
  button {
    bottom: -50%;
  }
}
